# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tags
TAGS

# CLion project
.idea

# Clang tooling
compile_commands.json
.clangd

# corpora
symcc-builds/qsym-build
symcc-builds/z3-build
symcc-builds/RyanRio-test/compile-qsym-build
symcc-builds/RyanRio-test/compile-z3-build
symcc-builds/RyanRio-test/fuzz-queue
symcc-builds/RyanRio-test/output-qsym-build
symcc-builds/RyanRio-test/output-z3-build
symcc-builds/RyanRio-test/corpora
tinyexpr/
tcpdump/
file-build/
libpcap/
file/
z3-builds/
qsym-build-32
z3-build-32
