# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tags
TAGS

# CLion project
.idea

# Clang tooling
compile_commands.json
.clangd

# corpora
symcc-builds/qsym-build/
symcc-builds/z3-build/
symcc-builds/mods/compile-qsym-build/
symcc-builds/mods/compile-z3-build/
symcc-builds/mods/fuzz-queue/
symcc-builds/mods/output-qsym-build/
symcc-builds/mods/output-z3-build/
symcc-builds/mods/corpora/
programs32_build/
programs64_build/
programs32/
programs64/
file-build/
libpcap/
file/
z3-builds/
qsym-build-32
qsym-build-64
z3-build-32
z3-build-64
symcc_build/
path_constraints.db
unsat_constraint_folder/
